/*
This file provides defined constant for all the other css files
*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white;
    font-family: "Times New Roman", Times, serif;;
}

:root{
    --light-text: #a8b2d1;
    --dark-text: #2F2FA2;
    --soft-dark: rgba(38, 40, 42, 0.75);
    --dark: #121212;
    
    --curs: "Brush Script MT", "Brush Script Std", cursive;
    --sans: 'europa',sans-serif;
    --mono: 'SF Mono','Fira Code','Fira Mono','Roboto Mono',monospace;
    --font-size-small: 18px;
    --font-size-standard: 24px;
    --font-size-large: 32px;
    --font-size-header: 48px;
  
    --navbar-height: 80px;
    --navbar-scroll-down-height: 60px;
    --navbar-scroll-up-height: 0px;
}