@import "./constant.css";

body{
  background-color: var(--dark);
}

/*Headers of each section*/
.section-header{
  text-align: center;
  font-family: var(--mono);
  font-weight: bold;
  font-size: var(--font-size-header);
  color: var(--dark-text);

  grid-area: header;
}

.section-header::after, .section-header::before{
  content: "";
  display: inline-block;
  height: 0.5em;
  vertical-align: bottom;
  width: 20%;
  border-top: 1px solid var(--light-text);
}

.section-header::before{
  margin-right: 30px;
}

.section-header::after{
  margin-left: 30px;
}

/*Section class, note that navbar doesn't inherent this section*/
.section{
  padding: 80px 5vw;
}

/*Home section*/
.home-sm{
  font-size: var(--font-size-small);
}

.home-mid{
  font-size: var(--font-size-standard);
}

.home-lg{
  font-size: var(--font-size-large);
  font-weight: bold;
  font-family: var(--mono);
  color: var(--light-text);
}


/*About Section*/
#about{
  gap: 20px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: 
  "header header"
  "about-description selfie"
  "skills selfie";
}

#about-description{
  grid-area: about-description;
  font-size: var(--font-size-standard);
}


#selfie{
  max-width: 300px;
  max-height: 300px;
  object-fit: cover;
  width: 100%;
  height: 100%;


  grid-area: selfie;
  align-self: center;
  justify-self: center;
}

#skills{
  grid-area: skills;
  font-size: var(--font-size-small);

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.skill-title{
  font-size: var(--font-size-large);
  color: var(--light-text);
}

.skill-tech{
  line-height: 40px;
  font-size: var(--font-size-standard);
  font-family: var(--mono);
}


/*projects section*/
#projects{
  gap: 20px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
}

.project-header{
  grid-column: 1/3;
  grid-row: 1/2;
}

.see-more{
  grid-column: 1/3;
  grid-row: 2/3;

  color: var(--light-text);
  font-size: var(--font-size-standard);
  font-weight: bold;
}

.see-more:hover > a{
  color: var(--dark-text);
}

#project{
  height: auto;
  width: 100%;
  border-radius: 16px;
  box-shadow: 10px 5px silver;
  overflow: hidden;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;

  align-items: center;
  justify-items: center;
}

#image-wrapper{
  max-height: 500px;
  width: 100%;
  overflow: hidden;

  grid-column: 1/1;
  grid-row: 1/1;
  z-index: 0;
}


#project-img{
  object-fit: fill;

  max-width: 100%;
  max-height: 100%;
  
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}

#project-description{
  grid-column: 1/1;
  grid-row: 1/1;
  z-index: 1;
  visibility: hidden;
  height: 100%;
  width: 100%;

  padding: 30px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 2fr 1fr;
  grid-template-areas: 
  "title title"
  "description description"
  "website-button code-button";
  gap: 15px;

  transition-property: background;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}

/* Elements located on the project description section */
#project-title{
  visibility: inherit;
  z-index: inherit;
  color: var(--light-text);
  font-family: var(--mono);
  font-size: var(--font-size-large);
  font-weight: bold;
  text-align: center;

  grid-area: title;
}

#project-detail{
  visibility: inherit;
  z-index: inherit;
  font-size: var(--font-size-small);

  grid-area: description;
}

#code-button{
  visibility: inherit;
  z-index: inherit;
  grid-area: code-button;
}

#website-button{
  visibility: inherit;
  z-index: inherit;
  grid-area: website-button;
}

.button{
  visibility: inherit;
  z-index: inherit;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  border: 2px solid blue;

  font-family: var(--sans);
  font-size: var(--font-size-small);
  color: blue;
}

.button:hover{
  background-color: var(--light-text);
}


/* some transition animations */
#project:hover > #project-description{
  visibility: visible;
  background: #141c3a;
}

#project:hover > #image-wrapper > #project-img{
  transform: scale(1.2);
}



/*Contact Section*/
#contact{
  min-height: 500px;
  height: 500px;
  width: 100%;
  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 2fr 1fr;
  grid-template-areas: 
  "header header header"
  "contact-msg contact-msg contact-msg"
  ". contact-link .";
  gap: 20px;
}

#contact-msg{
  font-family: var(--mono);
  font-size: var(--font-size-standard);
  text-align: center;

  grid-area: contact-msg;
}

#contact-link{
  height: 100%;
  width: 100%;

  grid-area: contact-link;
}

#footer{
  text-align: center;
}