@import "./constant.css";

/*Navigation Bar*/
#navbar{
    height: var(--navbar-height);
    width: 100%;
    z-index: 2;

    background-color: var(--dark);
    backdrop-filter: blur(5px);
    border-bottom: var(--light-text) solid 1px ;

    position: fixed;
    transition: top 0.3s linear, height 0.4s linear; /*transition when scrolling*/
    
    
    display: grid;
    column-gap: 20px;
    grid-template-columns: 2fr 3fr repeat(4, auto) repeat(3, 0.6fr);
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
}
  
.nav-element{
    height: auto;
    width: 100%;

    text-align: center;
    font-size: var(--font-size-standard);
    font-weight: bold;
    color: var(-dark-text);
    font-family: var(--mono);
}

#logo{
    font-size: 32px;
    font-family: var(--curs);
}

.icon{
    object-fit: contain;
    max-width: 50%;
    max-height: 50%;
    height: auto;
    width: auto;

}

