@import "./constant.css";

/*Navigation Bar*/
/*nav-bar top is the behavior when the page is scrolled to the top*/
#navbar-top{
    height: var(--navbar-height);
    width: 100%;
    z-index: 1;

    background-color: var(--dark);
    backdrop-filter: blur(5px);
    
    display: grid;
    column-gap: 20px;
    grid-template-columns: 2fr 3fr repeat(4, auto) repeat(3, 0.6fr);
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
}
  
.nav-element{
    height: auto;
    width: 100%;

    text-align: center;
    font-size: var(--font-size-standard);
    font-weight: bold;
    color: var(-dark-text);
    font-family: var(--mono);
}

#logo{
    font-size: 32px;
    font-family: var(--curs);
}

.icon{
    object-fit: contain;
    max-width: 50%;
    max-height: 50%;
    height: auto;
    width: auto;

}

